.page-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}

.box-1,
.box-2 {
    max-width: 560px;
}

.page-content a {
    text-decoration: none;
}

.page-content a:hover {
    text-decoration: underline var(--text-color);
}