.page-content {
    display: flex;
    flex-wrap: wrap;
}

img {
    border-radius: var(--base-radius);
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 600px) {

    .page-content {
        flex-wrap: wrap;
        gap: 0 2.5rem;
        justify-content: center;
    }

    .box-1,
    .box-2 {
        max-width: 56rem;
    }

    .box-1 p {
        font-size: 1.8rem;
    }

    .box-1 h3 {
        font-size: 2.4rem;
    }
}